#!/bin/sh

date=`date +%Y%m%d`
f=/var/log/tinyproxy/tinyproxy.log
echo
echo
echo "      TINYPROXY DAILY REPORT $date for $f"
echo
echo

echo "** Log Level"
awk '{ print $1 }' $f | sort | uniq -c | sort -nr
echo

echo "** Source IP"
awk '/CONNECT .*: Connect / { print $10 }' $f | sort | uniq -c | sort -nr
echo

echo "*** Domain"
awk '/CONNECT .*: Established connection / && !/Established connection to upstream proxy/ { print $10 }' $f | sort | uniq -c | sort -nr | head -30
echo

echo "** Url"
awk '/CONNECT .*: Request / { print $11 }' $f | sort | uniq -c | sort -nr | head -30
echo

echo "*** ERROR"
sed 's/^ERROR.*\]: //' "${f}" | sort | uniq -c | sort -nr | head -30
echo

echo "*** WARNING"
sed 's/^WARNING.*\]: //' "${f}" | sort | uniq -c | sort -nr | head -30
echo

echo "*** INFO No upstream proxy"
sed -n 's/^INFO.*\]: No upstream proxy for //p' "${f}" | sort | uniq -c | sort -nr | head -30
echo
